.image-container{
    background-color: black;
    border-radius: 1000px;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    flex-direction: column;
}

h2{
    margin: 12px 0;
}