main{
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: left;
}

p{
    font-size: 18px;
    padding-bottom: 20px;
    text-align: left;

}

button{
    background-color: #0073F4;
    color: white;
    gap: 1em;
    font-size: 18px;
    padding: 5px 14px;
    transition-duration: 0.4s;
}
