main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
}

h1{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: normal;
    text-decoration: underline;
}

p{
    font-size: 18px;
    padding-bottom: 20px;
}
